* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.light-grey {
    background-color: #f8f9fa;
}
.my-dropdown-toggle::after {
    content: none;
}

header {
    height: 80px;
    background: #000;
}

.orange {
    color: #ff8f00;
}

.border-right-none {
    border-right: none;
}

.border-left-none {
    border-left: none;
}

.border-none {
    border: none;
}

.grey {
    background-color: #e5e5e5;
}

img {
    width: 100%;
}

.continer-inerno {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

aside {
    background-color: #051e34;
    height: 100%;
    width: 150px;
}

main {
    background-color: #fff;
    height: 100%;
    width: calc(100vw - 150px);
    overflow-y: auto;
}

.topbar .contenuto .responsive-offcanvas {
    width: 50vw;
}

.menu:hover {
    background-color: #324658;
}

table img {
    width: 30px;
}

.btn-table {
    font-size: 1rem;
    color: #6c757d;
    border: 0.1rem solid #6c757d;
    border-radius: 0.3rem;
    text-align: center;
}

.btn-table:hover {
    color: #fff;
    background-color: #6c757d;
    border: 0.1rem solid #6c757d;
}

table a {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.col-big {
    width: 50%;
}

thead tr th:first-child, tbody tr td:first-child {
    text-align: left;
}

@media screen and (max-width:768px) {
    aside {
        width: 60px
    }

    main {
        width: 100%;
    }

    .topbar .contenuto .responsive-offcanvas {
        width: 100vw;
    }

    .col-big {
        width: 40%;
    }
}

@media screen and (max-width:576px) {

    .col-big {
        width: calc(100% / 3);
    }
}

.container-sup {
    width: 100%;
    background-color: #1b72e8;
}

.logo-desk {
    width: 150px;
}

.logo-mobile {
    width: 40px;
}


.h-50p {
    height: 50px;
}

.container-inf {
    width: 100%;
    height: 1550px;
    background-color: #fff;
}

.content {
    background-color: rgb(202, 202, 202);
    height: 100%;
}

.content-1 {
    background-color: rgb(202, 202, 202);
    height: 100px;
    width: 100%;
}

.rounded-blue {
    color: #fff;
    background-color: #165bba;
    border-radius: 10rem;
    text-decoration: none;
    line-height: 0;
    font-size: 0.8rem;
    padding: 0.7rem;
}

.rounded-blue i, .contenuto i {
    line-height: 0;
}

.rounded-blue:hover {
    color: #fff;
    background-color: #155ec4;
}

.rounded-white {
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
}

.rounded-white:hover {
    background-color: #fff;
    color: #000;
}
