* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.light-grey {
    background-color: #f8f9fa;
}
.my-dropdown-toggle::after {
    content: none;
}

header {
    height: 80px;
    background: #000;
}

.orange {
    color: #ff8f00;
}

.border-right-none {
    border-right: none;
}

.border-left-none {
    border-left: none;
}

.border-none {
    border: none;
}

.grey {
    background-color: #e5e5e5;
}

img {
    width: 100%;
}

.continer-inerno {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

aside {
    background-color: #051e34;
    height: 100%;
    width: 150px;
}

main {
    background-color: #fff;
    height: 100%;
    width: calc(100vw - 150px);
}